# Logs and extra files
npm-debug.log*
.idea

# Database directories
/opt/orientdb-community-2.2.0/bin/orient.pid
/opt/orientdb-community-2.2.0/log

# Dependency directories
/node_modules
/public/bower_components
.npm
/opt