<!doctype html>
<html class="no-js" lang="" ng-app="freepe">
<head>
    <title ng-cloak>Freepe</title>

    <base href="/">

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/settings.css">

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
</head>
<body>

{{{body}}}

<!-- Freepe modules -->
<script type="text/javascript" src="scripts/app.js"></script>

<script type="text/javascript" src="scripts/landing/LandingMod.js"></script>
<script type="text/javascript" src="scripts/landing/components/Landing.js"></script>

<script type="text/javascript" src="scripts/dashboard/DashboardMod.js"></script>
<script type="text/javascript" src="scripts/dashboard/components/Dashboard.js"></script>

<script type="text/javascript" src="scripts/product/ProductMod.js"></script>
<script type="text/javascript" src="scripts/product/components/Product.js"></script>
<script type="text/javascript" src="scripts/product/components/ProductList.js"></script>

<script type="text/javascript" src="scripts/resource/ResourceMod.js"></script>
<script type="text/javascript" src="scripts/resource/components/Resource.js"></script>
<script type="text/javascript" src="scripts/resource/components/ResourcesList.js"></script>

<script type="text/javascript" src="scripts/user/UserMod.js"></script>
<script type="text/javascript" src="scripts/user/components/User.js"></script>

<script type="text/javascript" src="scripts/organization/OrganizationMod.js"></script>
<script type="text/javascript" src="scripts/organization/components/Organization.js"></script>

<!-- Vendor libraries -->
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- Misc files -->
<script src="scripts/main.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>