<div class="main">
    <style scoped>
        body {
            background-image: url("img/background.png");
            width: 100%;
            height: 100%
        }

        .auth {
            display: block;
        }

        form input.ng-invalid.ng-touched, form.ng-submitted input.ng-invalid {
            background-color: #FA787E;
        }

        form input.ng-valid.ng-touched, form.ng-submitted input.ng-valid {
            background-color: #78FA89;
        }

    </style>
    <login></login>
    <div class="main-container">
        <div class="slogan">
            <p class="slogan-text">FreePe - проект, </br> который изменит </br> вашу жизнь!</p>
        </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KNnJxonaQgE" class="yo" frameborder="0"
                allowfullscreen></iframe>
        <div class="email">
            <div class="email-container">
                <span>Станьте первыми!</span> <br/>
                <input type="text" size="30" placeholder="Email адрес">
                <input type="submit" value="Узнать больше">
            </div>
        </div>
    </div>
</div>